<!DOCTYPE html>
<!-- {% load static %} -->
<!--  issue: 자유게시판 -->
<html lang="ko">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>메인페이지</title>

	<!-- Custom styles for this template -->
	<!-- <link href="{% static 'mgSite/litera/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'mgSite/_assets/css/custom.min.css' %}" rel="stylesheet" type="text/css"> -->

	<!-- For Test link -->
	<link href="../../static/mgSite/litera/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../../static/mgSite/_assets/css/custom.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" id="navbar">
        <a class="navbar-brand" href="#">팀 정언명령</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">자유게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">구인구직 게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">쇼핑하기</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="jumbotron text-center">
        <h2>Hi, Corder</h2>
        <p>왔노라, 봤노라, 결국 이겨냈노라.</p>
        <button class="btn btn-warning">글쓰기</button>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <a class="list-group-item list-group-item" href="#">
                    <div class="d-flex w-100 justify-content-between">
                              <span class="mb-1">
                                  <strong>[공지사항] 게시물 제목</strong>
                                  <small><span class="badge badge-danger badge-pill">N</span></small>
                              </span>
                        <span class="badge badge-dark badge-pill">14</span>
                    </div>
                    <p class="mb-1 text-secondary">
                        <span><small>작성자</small></span>
                        <span><small>|</small></span>
                        <span><small>작성일</small></span>
                    </p>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <li class="d-flex w-100 justify-content-between">
                        <span class="mb-1">당신의 눈동자에 건배..</span>
                        <span class="badge badge-light badge-pill">14</span>
                    </li>
                    <p class="mb-1 text-secondary">
                        <span><small>작성자</small></span>
                        <span><small>|</small></span>
                        <span><small>작성일</small></span>
                    </p>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <li class="d-flex w-100 justify-content-between">
                        <span class="mb-1">칸트는 누구인가?</span>
                        <span class="badge badge-light badge-pill">14</span>
                    </li>
                    <p class="mb-1 text-secondary">
                        <span><small>작성자</small></span>
                        <span><small>|</small></span>
                        <span><small>작성일</small></span>
                    </p>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <li class="d-flex w-100 justify-content-between">
                        <span class="mb-1">??? : 물은 답을 알고있다.</span>
                        <span class="badge badge-light badge-pill">14</span>
                    </li>
                    <p class="mb-1 text-secondary">
                        <span><small>작성자</small></span>
                        <span><small>|</small></span>
                        <span><small>작성일</small></span>
                    </p>
                </a>
            </ul>
        </div>
    </div>

    
<!-- Bootstrap core JavaScript -->
<!-- <script src="{% static 'mgSite/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'mgSite/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'mgSite/_assets/js/custom.js' %}" type="text/javascript"></script> -->

<!-- Bootstrap core JavaScript For Test-->
<script src="../../static/mgSite/vendor/jquery/jquery.min.js" type="text/javascript"></script>
<script src="../../static/mgSite/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="../../static/mgSite/_assets/js/custom.js" type="text/javascript"></script>
</body>

</html>